# API и асинхронность
fastapi>=0.104.1
uvicorn>=0.24.0
httpx>=0.25.0
asyncpg>=0.29.0

# Обработка данных и векторный поиск
numpy>=1.26.0
pandas>=2.1.2
faiss-cpu>=1.7.4
sentence-transformers>=2.2.2

# Визуализация
matplotlib>=3.8.1
seaborn>=0.13.0

# Утилиты
python-dotenv>=1.0.0
pydantic>=2.4.2

#Убраны библиотеки из стандартной библиотеки Python, так как они не требуют отдельной установки